.team-container{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 116px;
    margin-top:500px;
    margin-left: 110px;
    margin-right: 107px;
}
.team-heading-container{
    width: 1233px;
    height:144px;
    margin-left:110px ;
}
.team-heading{
    color: #FFF;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -1.6px;
}
.team-heading-span{
    color: #FFB84C;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 112.5% */
    letter-spacing: -1.6px;
}
.team-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top:116px;
    margin-left:100px;
}
.team-card-1{
    display: flex;
    width: 392px;
    height: 522px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 32px;
    background: url("./card1.jpg"), lightgray repeat; 
}
.team-card-2{
    display: flex;
    width: 392px;
    height: 522px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 32px;
    background: url("./card2.jpg"), lightgray repeat; 
}
.team-card-3{
    display: flex;
    width: 392px;
    height: 522px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 32px;
    background: url("./card3.jpg"), lightgray repeat; 
}
.team-market-container{
    display: flex;
    width: 1240px;
    justify-content: space-between;
    align-items: flex-end;
    margin-top : 50px; 
    margin-left: 100px;
    height: 120px;
}
.tm-left{
    display: flex;
    width: 603px;
    align-items: flex-end;
    gap: 32px;
    flex-shrink: 0;
}

.tm-right{
    display: flex;
    align-items: center;
    gap: 16px;
}
.team-market-left-part{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    flex: 1 0 0;
    width:153px;
    height: 100px;
}
.tm-span{
    color: #FFB84C;
    font-family: Poppins;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px; /* 112.5% */
}
.tm-text{
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; /* 125% */
}


.tm-right-text{
    color: #FFF;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 125% */
    width: 215px;
}
.tm-arrow{
    width: 64px;
    height: 64px;
    fill: #FFB84C;
}