.main-container{
    padding: 0px;
    margin: 0px;
}

.home-container{
    width: 1440px;
    height: 883px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-top: 32px;
    margin-right: 100px;
}
.home-content{
    margin-top: 127px;
    width: 1440px;
    height: 4083px;
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    margin-left: 197px;
}
.home-container1{
    width: 100vw;
    height: 1920px;
    flex-shrink: 0;
    background: #2B2730;
}
.home-container2{
    width: 1440px;
    height: 550px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-top: 32px;
    margin-right: 100px;
}