.navbar-container{
    display: flex;
    width: 1240px;
    justify-content: space-between;
    align-items: center;
    color: #2B2730;
}
.nav-btn{
    color: #2B2730;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    background-color: transparent;
    border-width: 0px;
    cursor: pointer;
    outline:none;
    text-decoration: none;
}
.menu-left{
    display: flex;
    align-items: center;
    gap: 40px;
}
.menu-links{
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
.menu-right{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-text{
    color: #2B2730;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.nav-signin-btn{
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    background: #2B2730;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    cursor: pointer;
    outline: none;
}